.skills{
    background-color: #3F3B6C;
}
.skills h1 {
    text-align: center;
    color: white;;
}
.skills{
    padding: 1rem;
}
.skill-section{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.2rem;
}
.skill-section-title{
	font-size: 2rem;
	font-weight: 500;
	color: #A3C7D6;
    margin: 3rem;
}
.skills-list{
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 375px){
    
    .skill-section-title{
        margin: 1rem;
    }
    
}
@media (max-width: 425px){
    
    .skill-section-title{
        margin: 1rem;
    }
    
}