/*DARK: #282c34*/
/*Link: #61dafb*/
/*Background: 3F3B6C*/
/*624F82
9F73AB
A3C7D6*/
.Banner{
	height: 46rem;
	width: 100%;
	background-color: #3F3B6C;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-text-container{
	position: relative;
    top: -4rem;
}

.img-container{
	position: relative;
    top: -4rem;
}

.main-text{
	font-size: 3.4rem;
	color: #A3C7D6;
	padding: 2rem;
	margin: 11rem 2rem;
}

.Typewriter{
	display: inline-block;
}

.astronaut-img{
	padding: 1rem 4rem 1rem 2rem;
	height: 28rem;
	margin: auto 3rem;
}
@media (max-width: 1024px){
	.astronaut-img{
		height:22rem;
	}

	.main-text {
    	padding: 3rem;
	}
}
@media (max-width: 768px){
	.astronaut-img{
		height:18rem;
		padding: 1rem 1rem;
	}

	.main-text {
		font-size: 2.2rem;
    	padding: 3rem;
	}
	.Banner{
		height: 27.4rem;
	}
}
@media (max-width: 425px){
	.Banner{
		display: flex;
		flex-direction: column;
  		align-items: flex-start;
  		align-items: center;
  		height: 28.5rem
	}
	.img-container{
		margin: 3rem 2rem;
    	position: relative;
    	top: 0rem;
	}
	.main-text-container{
		height: 7rem;
    	position: relative;
    	top: 0rem;
	}
	.main-text{
		margin: auto 1rem;
	}
	.astronaut-img{
		margin: 1rem auto
	}
	
}


@media (max-width: 375px){
	.Banner{
  		height: 32rem
	}
	.img-container{
    	top: 0rem;
    	left: 1rem;
	}

}
@media (max-width: 320px){
	.Banner{
		height: 28rem;
	}
	
	.main-text{
		font-size: 2rem;
	}
	
	.astronaut-img{
		height: 16rem;		
	}
}